.sortIcon {
    display: none;
}

.active {
    font-weight: bold;
    color: var(--primary);
}

.active .sortIcon {
    display: block;
    margin-right: 8px;
}

.sort {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.sort button{
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    line-height: 22;
    font-size: 16px;
    border: none;
    background: none;
}

.sort button:not(.active) {
    grid-template-columns: 1fr;
}

.sortName {
    display: none;
}