html,
body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: #3B434E;
  --gray: #A4A4A4;
  --white: #FFFFFF;
  --primary: #7653FC;
  --primary-hover: #6344DF;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --gray-light: #EBEBEB;
  --font: 'Noto Sans', sans-serif;
  --gray-dark: #787D85;
  --red-light: #CE1A1A;
}