html,
body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.visualyHidden {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

:root {
  --black: #3B434E;
  --gray: #A4A4A4;
  --white: #FFFFFF;
  --primary: #7653FC;
  --primary-hover: #7351F5;
  --red: #FC836D;
  --green: #007B48;
  --green-light: #C8F8E4;
  --gray-light: #EBEBEB;
  --font: 'Noto Sans', sans-serif;
  --gray-dark: #6C7077;
  --red-light: #CE1A1A;
}